link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css')
script(type='text/javascript', src='lib/jquery/jquery.min.js')
script(type='text/javascript', src='lib/jquery.inputmask/dist/jquery.inputmask.bundle.min.js')
script(type='text/javascript', src='lib/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='lib/datatables/media/js/jquery.dataTables.js')
script(type='text/javascript', src='lib/datatables-plugins/api/fnReloadAjax.js')
script(type='text/javascript', src='lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js')
script(type='text/javascript', src='/socket.io/socket.io.js')