doctype 5
html
    head
        title #{translation.title}
        include head
    body
        .navbar.navbar-default(role=navigation)
            .container
                .navbar-header
                    a.navbar-brand #{translation.navbarTitle}
                block navBarExtra
        block content